<div class="container">
    <div class="jumbotron">
        <h1>GITHUBSEARCH</h1>
        <small class="text-muted">Search</small>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="name" [(ngModel)]="searchTerm" name="searchTerm">
                <button type="submit" class="btn btn-success" (click)="onSearch(searchTerm)">Search</button>
            </div>
        </form>
    </div>
    
    <div class="row">
        <div class="col-sm">
            <div class="">
        
                <div class="avatar mx-auto white">
                    <img src="{{user.avatar_url}}" class="rounded-circle"
                        alt="woman avatar">
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card testimonial-card">
        
                <div class="card-body">
                    <h4 class="card-title">{{user.login}}</h4>
                    <hr>
                    Repositories:<p>{{user.repos}}</p>
                   Followers: <p>{{user.followers}}</p>
                    Following:<p>{{user.following}}</p>
                
                </div>
        
            </div>
        </div>
    </div>
    <div class="card-body">
        <span  class="name"><i class="fa fa-user" style="font-size:20px"></i>&nbsp;{{user.login}} </span> <a href="{{user.html_url}}"><button class="btn-outline-success btn btn-sm"><i class="fa fa-github" style="font-size:20px"></i> &nbsp; <span id="profile">Github</span> </button></a>
    </div>
    <h2>Repositories</h2>
</div>